*{
    padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body{
    height: 1500px;
}    
.left{
    /* background-color: #0e0bdf; */
    float: left;
    width: 15%;
    height: 1000px; 
    border-right: 1px solid black;
    
    
}
.top-left{
    width: 100%;
    height: 80px;
    background: #b8b8b8;
    
}
.top-left h1{
    color: #ffffff;
    /* padding: 15px 80px; */
    /* float: left; */
    font-size: 50px;
    padding: 8px 10px;
}
.top-left img{
    width: 32%;
    padding: 8px 10px;
    float: left;
}
.bottom-left{
    width: 100%;
    height: 830px;
}

.left-footer{
    width: 100%;
    height: 60px;
}

.right{
    background-color: #ffffff;
    float: right;
    width: 85%;
    height: 1000px;
}

.top-right{
    width: 100%;
    height: 80px;
    /* background: green; */
    
}
.bottom-right{
    width: 100%;
    height: 890px;
    /* background: orangered; */
    padding-left: 200px;
    
}
.search{
    width: 75%;
    height: 80px;
    background: #b8b8b8;
    float: left;
    border: 1 solid black;
}

.user-login{
    width: 25%;
    height: 80px;
    background: #b8b8b8;
    float: right;
}

.navbar{
    height: 100%;
    
}

.navbar form{
    width: 100%;
}

.bell{
    float: left;
    background: #b8b8b8;
    width: 20%;
    height: 80px;
    font-size: 30px;
    text-align: center;
}

.login{
    float: right;
    background: #b8b8b8;
    width: 80%;
    height: 80px;
        
}

.fa-bell{
    margin: 25px;
    color: #000;
}
.login-width{
    width: 100%;
    height: 80px;
    /* background-color: brown; */  
}
.login-width ul li{
    list-style-type: none;
    margin: 16px 0px;
}

.login-width ul li a{
    text-decoration: none;
    color: #000;
    padding: 30px 0px;
    /* background-color: blue; */
}

.fa-user-circle{
    font-size: 40px;
    /* width: 100%; */
    /* margin-left: 25px; */
    /* margin-right: 0px; */
    
}

.fa-user-circle h2{
    margin: -40px 40px;
    /* background-color: red; */
    
}

.menu{
    /* width: 100%; */
    /* text-align: center; */
    font-size: 20px;
}
.menu ul li{
    list-style-type: none;
    background-color: #ffffff;
    /* margin: 10px 20px; */
    /* width: 300px; */
    /* margin: 30px 0px; */
    padding: 12.5px 0px;
    width: 100%;
}
.menu ul li:hover{
    background: #b8b8b8;
}
.fa,.fas{
    margin-right: 20px;
}

.menu ul li a{
    text-decoration: none;
    color: black;
    /* background-color: cover; */
    padding: 14px 40px;
}
.left-footer{
    background: #b8b8b8;
}
.left-footer a{
    color: black;
    font-size: 20px; 
}

.left-footer a i{
    padding: 20px 10px;
    font-size: 20px;
    margin-left: 10px;
}

.left-footer a:hover{
    color: black;
    text-decoration: none;
}

.appointment{
    background: #b8b8b8;
    height: 150px;
    /* margin: auto; */
}

.col-sm-2{
    margin: 0px 15px;
    height: 300px;
    background: #b8b8b8;
}

.col-md-3{
    border-right: 1px solid black;
    height: 150px;
}

.col-md-3 img{
    width: 100%;
    height: 100%;
    /* height: 80px; */
    /* padding: 25px 0px; */
    /* margin: 30px 50px; */
    /* border-radius: 100%; */
}

.container-fluid h4{
    margin-left: 40px;

}

.inside_box_top{
    width: 100%;
    height: 140px;
    /* background: black; */
    border-bottom: 1px solid gray;
}

.inside_box_mid{
    width: 100%;
    height: 100px;
    /* background: blue; */
    border-bottom: 1px solid gray;
}

.inside_box_bot{
    /* width: 100%; */
    height: 60px;
    /* background: green; */
    text-align: center;
    margin: 18px 0px;
}
.inside_box_bot a{
    color: black;
    /* background: pink; */
    padding: 20px 55px;
    /* width: 100%; */
}

.inside_box_bot a:hover{
    text-decoration: none;
    color: black;
}
.inside_box_mid{
    text-align: center;
    padding: 2px 0px;
    
}
.inside_box_mid span{
    color: black;
    font-size: 60px;
    
}
.inside_box_top img{
    width: 40%;
    /* height: 80px; */
    padding: 25px 0px;
    border-radius: 100%;
}
.inside_box_top span{
    color: black;
    font-size: 30px;
    
}

.list{
    margin: 0px 15px;
    /* height: 300px; */
    background: #b8b8b8;
}
